:root {
	--mapHeight: 473px;
	--darkest: #0e2d2b;
	--dark: #3a5b30;
	--neutral: #678936;
	--light: #cff31e;
	--accent: #d3c39a;
	--text: white;
	--gold: #ffcc33;
}

/* Original theme
	--mapHeight: 460px;
	--darkest: #0e2d2b;
	--dark: #3a5b30;
	--neutral: #678936;
	--light: #cff31e;
	--accent: #d3c39a;
	--text: white;
*/


.fire {
	animation: burn 1.5s linear infinite alternate;
}
  
@keyframes burn {
	from { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .4em #ffae34, .2em -.3em .3em #ec760c, -.2em -.4em .4em #cd4606, .1em -.5em .7em #973716, .1em -.7em .7em #451b0e; }
	45%  { text-shadow: .1em -.2em .5em #fefcc9, .15em 0 .4em #feec85, -.1em -.25em .5em #ffae34, .15em -.45em .5em #ec760c, -.1em -.5em .6em #cd4606, 0 -.8em .6em #973716, .2em -1em .8em #451b0e; }
	70%  { text-shadow: -.1em 0 .3em #fefcc9, .1em -.1em .3em #feec85, -.2em -.2em .6em #ffae34, .2em -.3em .4em #ec760c, -.2em -.4em .7em #cd4606, .1em -.5em .7em #973716, .1em -.7em .9em #451b0e; }
	to   { text-shadow: -.1em -.2em .6em #fefcc9, -.15em 0 .6em #feec85, .1em -.25em .6em #ffae34, -.15em -.45em .5em #ec760c, .1em -.5em .6em #cd4606, 0 -.8em .6em #973716, -.2em -1em .8em #451b0e; }
}

.lightFire {
	animation: lightBurn 1.5s linear infinite alternate;
}
  
@keyframes lightBurn {
	from { text-shadow: -.1em 0 .3em #bebd97, .1em -.1em .3em #beb164, -.2em -.2em .4em #bf8227, .2em -.3em .3em #b15809, -.2em -.4em .4em #9a3404, .1em -.5em .7em #712910, .1em -.7em .7em #34140a; }
	45%  { text-shadow: .1em -.2em .5em #bebd97, .15em 0 .4em #beb164, -.1em -.25em .5em #bf8227, .15em -.45em .5em #b15809, -.1em -.5em .6em #9a3404, 0 -.8em .6em #712910, .2em -1em .8em #34140a; }
	70%  { text-shadow: -.1em 0 .3em #bebd97, .1em -.1em .3em #beb164, -.2em -.2em .6em #bf8227, .2em -.3em .4em #b15809, -.2em -.4em .7em #9a3404, .1em -.5em .7em #712910, .1em -.7em .9em #34140a; }
	to   { text-shadow: -.1em -.2em .6em #bebd97, -.15em 0 .6em #beb164, .1em -.25em .6em #bf8227, -.15em -.45em .5em #b15809, .1em -.5em .6em #9a3404, 0 -.8em .6em #712910, -.2em -1em .8em #34140a; }
}

.darkFire {
	animation: darkBurn 1.5s linear infinite alternate;
}
  
@keyframes darkBurn {
	from { text-shadow: -.1em 0 .3em #ffe6cc, .1em -.1em .3em #ffad99, -.2em -.2em .4em #ff6666, .2em -.3em .3em #cc0000, -.2em -.4em .4em #cc0066, .1em -.5em .7em #6600cc, .1em -.7em .7em #000066; }
	45%  { text-shadow: .1em -.2em .5em #ffe6cc, .15em 0 .4em #ffad99, -.1em -.25em .5em #ff6666, .15em -.45em .5em #cc0000, -.1em -.5em .6em #cc0066, 0 -.8em .6em #6600cc, .2em -1em .8em #000066; }
	70%  { text-shadow: -.1em 0 .3em #ffe6cc, .1em -.1em .3em #ffad99, -.2em -.2em .6em #ff6666, .2em -.3em .4em #cc0000, -.2em -.4em .7em #cc0066, .1em -.5em .7em #6600cc, .1em -.7em .9em #000066; }
	to   { text-shadow: -.1em -.2em .6em #ffe6cc, -.15em 0 .6em #ffad99, .1em -.25em .6em #ff6666, -.15em -.45em .5em #cc0000, .1em -.5em .6em #cc0066, 0 -.8em .6em #6600cc, -.2em -1em .8em #000066; }
}

.redFire {
	animation: redBurn 1.5s linear infinite alternate;
}
  
@keyframes redBurn {
	from { text-shadow: -.1em 0 .3em #ffe6e6, .1em -.1em .3em #ff9999, -.2em -.2em .4em #ff4d4d, .2em -.3em .3em #ff0000, -.2em -.4em .4em #b30000, .1em -.5em .7em #660000, .1em -.7em .7em #1a0000; }
	45%  { text-shadow: .1em -.2em .5em #ffe6e6, .15em 0 .4em #ff9999, -.1em -.25em .5em #ff4d4d, .15em -.45em .5em #ff0000, -.1em -.5em .6em #b30000, 0 -.8em .6em #660000, .2em -1em .8em #1a0000; }
	70%  { text-shadow: -.1em 0 .3em #ffe6e6, .1em -.1em .3em #ff9999, -.2em -.2em .6em #ff4d4d, .2em -.3em .4em #ff0000, -.2em -.4em .7em #b30000, .1em -.5em .7em #660000, .1em -.7em .9em #1a0000; }
	to   { text-shadow: -.1em -.2em .6em #ffe6e6, -.15em 0 .6em #ff9999, .1em -.25em .6em #ff4d4d, -.15em -.45em .5em #ff0000, .1em -.5em .6em #b30000, 0 -.8em .6em #660000, -.2em -1em .8em #1a0000; }
}

.greenFire {
	animation: greenBurn 1.5s linear infinite alternate;
}
  
@keyframes greenBurn {
	from { text-shadow: -.1em 0 .3em #ccffcc, .1em -.1em .3em #99ff99, -.2em -.2em .4em #66ff66, .2em -.3em .3em #33cc33, -.2em -.4em .4em #009933, .1em -.5em .7em #006600, .1em -.7em .7em #003300; }
	45%  { text-shadow: .1em -.2em .5em #ccffcc, .15em 0 .4em #99ff99, -.1em -.25em .5em #66ff66, .15em -.45em .5em #33cc33, -.1em -.5em .6em #009933, 0 -.8em .6em #006600, .2em -1em .8em #003300; }
	70%  { text-shadow: -.1em 0 .3em #ccffcc, .1em -.1em .3em #99ff99, -.2em -.2em .6em #66ff66, .2em -.3em .4em #33cc33, -.2em -.4em .7em #009933, .1em -.5em .7em #006600, .1em -.7em .9em #003300; }
	to   { text-shadow: -.1em -.2em .6em #ccffcc, -.15em 0 .6em #99ff99, .1em -.25em .6em #66ff66, -.15em -.45em .5em #33cc33, .1em -.5em .6em #009933, 0 -.8em .6em #006600, -.2em -1em .8em #003300; }
}

.goldFire {
	animation: goldBurn 1.5s linear infinite alternate;
}
  
@keyframes goldBurn {
	from { text-shadow: -.1em 0 .3em #fff2cc, .1em -.1em .3em #ffe699, -.2em -.2em .4em #ffd966, .2em -.3em .3em #ffcc33, -.2em -.4em .4em #ffbf00, .1em -.5em .7em #cc9900, .1em -.7em .7em #997300; }
	45%  { text-shadow: .1em -.2em .5em #fff2cc, .15em 0 .4em #ffe699, -.1em -.25em .5em #ffd966, .15em -.45em .5em #ffcc33, -.1em -.5em .6em #ffbf00, 0 -.8em .6em #cc9900, .2em -1em .8em #997300; }
	70%  { text-shadow: -.1em 0 .3em #fff2cc, .1em -.1em .3em #ffe699, -.2em -.2em .6em #ffd966, .2em -.3em .4em #ffcc33, -.2em -.4em .7em #ffbf00, .1em -.5em .7em #cc9900, .1em -.7em .9em #997300; }
	to   { text-shadow: -.1em -.2em .6em #fff2cc, -.15em 0 .6em #ffe699, .1em -.25em .6em #ffd966, -.15em -.45em .5em #ffcc33, .1em -.5em .6em #ffbf00, 0 -.8em .6em #cc9900, -.2em -1em .8em #997300; }
}

.lightGoldFire {
	animation: lightGoldBurn 1.5s linear infinite alternate;
}
  
@keyframes lightGoldBurn {
	from { text-shadow: -.1em 0 .3em #bfb699, .1em -.1em .3em #bfa760, -.2em -.2em .4em #bf9926, .2em -.3em .3em #ac8100, -.2em -.4em .4em #735600, .1em -.5em .7em #4c3a00, .1em -.7em .7em #261c00; }
	45%  { text-shadow: .1em -.2em .5em #bfb699, .15em 0 .4em #bfa760, -.1em -.25em .5em #bf9926, .15em -.45em .5em #ac8100, -.1em -.5em .6em #735600, 0 -.8em .6em #4c3a00, .2em -1em .8em #261c00; }
	70%  { text-shadow: -.1em 0 .3em #bfb699, .1em -.1em .3em #bfa760, -.2em -.2em .6em #bf9926, .2em -.3em .4em #ac8100, -.2em -.4em .7em #735600, .1em -.5em .7em #4c3a00, .1em -.7em .9em #261c00; }
	to   { text-shadow: -.1em -.2em .6em #bfb699, -.15em 0 .6em #bfa760, .1em -.25em .6em #bf9926, -.15em -.45em .5em #ac8100, .1em -.5em .6em #735600, 0 -.8em .6em #4c3a00, -.2em -1em .8em #261c00; }
}


/* Default set up */
body {
	background: var(--darkest);
	color: var(--text);
	font-family: Verdana
}

table, th, td {
	border-collapse: collapse;
	/*border: 2px solid var(--darkest);*/
	padding: 5px;
	font-size: 12px;
}

td a {
	color: var(--text);
}

td img {
	height: 40px;
	display: block;
	margin: auto;
}

iframe {
	border: 0px;
}

h1 {
	color: var(--light);
}



/* Contacts table and image setup */
#playerDiv {
	width: 67%;
}

#playerTable {
	width: 100%;
	text-align: center;
}

#playerTable th {
	min-width: 35px;
}

#bigImage {
	width: 25%;
	text-align: center;
}

#calcHead {
	color: var(--accent);
}

#calcLatLng {
	font-size: 12px;
}

#calcDist {
	padding: 5px;
	border: 2px solid var(--accent);
}

.even-row {
	background: var(--dark);
}

.non-starter {
	color: #ff8080;/*#bf0000;*/
}

.salary-th {
	border-top: 5px solid var(--accent);
	border-left: 5px solid var(--accent);
	border-right: 5px solid var(--accent);
	width: 100px;
}

.salary-td {
	border-left: 5px solid var(--accent);
	border-right: 5px solid var(--accent);
}

.final-row {
	border-bottom: 5px solid var(--accent);
}

/*
.player-row:hover {
	color: black;
	font-weight: bold;
	background-color:  var(--accent);
}
*/

#name-th {
	width: 200px;
}

/*
.player-row:hover td {
	font-size: 14px;
}
*/


.goldHeader {
	text-align: center;
	font-size: 16px;
	color: var(--accent);
}



/* Navigation bar */
nav {
	border: 2px solid var(--accent);
	display: flex;
	background: linear-gradient(to right, var(--light), var(--darkest));
}

nav a {
	padding: 10px;
	border: 2px solid var(--accent);
	color: var(--text);
	text-decoration: none;
	margin: 2px;
	background: var(--darkest);
}

nav a:hover {
	background: var(--dark);
}



/* Flex box to contain elements related to the contacts table */
#contactsContainer {
	display: flex;
}

#contactsContainer > div {
	padding: 10px;
	margin: auto;
}

#contactsContainer > div > table {
	background: var(--neutral);
	min-width: 700px;
}

#contactsContainer > div > img {
	display: block;
	padding: 10px;
	width: 300px;
	margin: auto;
}



/* Widjets grid formatting */
#widjets-grid {
	display: grid;
	grid-template-columns: auto auto;
}

#widjets-grid > div {
	text-align: center;
	padding: 10px;
}



/* Input formatting */
.submit-btn, button {
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
	color: var(--text);
	background-color: var(--darkest);
	border: 2px solid var(--accent);
}

/*
.submit-btn:hover, button:hover {
	background-color: var(--dark);
}
*/

.dropdown {
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
}

.text-basic {
	padding: 5px;
}

#roleButtons {
	display: flex;
}


.roleButton {
	margin: 10px;
	padding: 15px;
	font-size: 24px;
}

.statPoints {
	font-size: 11px;
	color: var(--gold);
	font-weight: normal;
	padding-top: 0px;
}

.subButton {
	font-size: 12px;
	color: var(--gold);
	padding: 0px;
	margin: 0px;
}

/* Input tables for map on My Contacts page */
#placesTable {
	background: var(--neutral);
	text-align: right;
	line-height: 1.4;
	width: 100%;
	height: 50%;
	border: none;
	border-bottom: 2px solid var(--darkest);
	padding: 0px;
}

#directionsTable {
	background: var(--dark);
	text-align: right;
	line-height: 1.4;
	width: 100%;
	height: 50%;
	border: none;
	border-top: 2px solid var(--darkest);
	padding: 0px;
}

#placesTable td, #directionsTable td {
	border: none;
}

#placesTable .leftSide, #directionsTable .leftSide {
	text-align: left;
}



/* Flex box to contain map elements on My Contacts page */
#mapsContainer {
	display: flex;
	margin: 10px;
	margin-bottom: 20px;
}

#routeDirections {
	padding: 10px;
	border: 2px solid var(--text);
	height: 449px;
	width: 25%;
	font-size: 12px;
	line-height: 20px;
	overflow: scroll;
}

#map {
	border-collapse: collapse;
	float: left;
	height: var(--mapHeight);
	width: 100%;
	color: black;
}

#inputTables {
	height: var(--mapHeight);
	width: 25%;
}



/* Flex box to contain map elements on My Form page */
#formMapContainer {
	display: flex;
	margin: 10px;
}

#formMap {
	border-collapse: collapse;
	width: 100%;
	color: black;
}