:root {
	--gold: #ffcc33;
	--text: #ffffff;
	--primaryLight: #333333;	/* 20% */
	--primary: #262626;		/* 15% */
	--primaryDark: #1a1a1a;	/* 10% */
	--secondaryLight: #ffffff;
	--secondaryDark: #e6e6e6;
	--doubleTableSpacing: 40px;
	--tableSpacing: 20px;
	--negTableSpacing: -20px;
	--halfTableSpacing: 10px;
	--quarterTableSpacing: 5px;
	
}





/* Default set up */
body {
	background-image: linear-gradient(to left, gray, black);
	color: var(--text);
	font-family: Verdana
}










/* table team colors */
#leftDiv {
	float: left;
	width: 66%;
	color: var(--text);
}
#rightDiv {
	float: right;
	width: 33%;
}

#teamTitle {
	font-size: 48px;
	text-align: center;
	padding: 4px;
	margin: var(--tableSpacing);
	border: var(--tableSpacing) solid var(--primaryLight);
	background: var(--primaryDark);
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) var(--secondaryDark);
}

#teamDropdown {
	vertical-align: middle;
	text-align: center;
	font-size: 48px;
	color: var(--text);
	background: transparent;
	border-width: 0px;
	width: 100%;
	padding: 6px;
	cursor: pointer;
}

#teamDropdown option {
	font-size: 24px;
}

#teamDropdown:hover {
	background: var(--primary);
}



.plDropdown {
	vertical-align: middle;
	text-align: center;
	color: var(--text);
	background: transparent;
	border-width: 0px;
	width: 100%;
	padding: 0px;
	margin:0px;
	cursor: pointer;
}

.plDropdown:hover {
	background: var(--primaryLight);
}

table, th, td {
	border-collapse: collapse;
	padding: 5px;
	font-size: 12px;
}








#playerTable {
	border-color: var(--primaryLight);
	border-style: solid;
	border-left-width: var(--tableSpacing);
	border-right-width: var(--tableSpacing);
	border-bottom-width: var(--halfTableSpacing);
	text-align: center;
}

.statPoints {
	font-size: 11px;
	color: var(--secondaryLight);
	font-weight: normal;
	padding-top: 0px;
}

#statName {
	padding: 0px;
}

#player-thead {
	background-color: var(--primaryLight);
}

#playerTable th {
	min-width: 65px;
	white-space: nowrap;
}

.infoCols {
	width: 35px;
}

#headName {
	width: 100%;
}

.salary-th {
	width: 120px;
	color: var(--secondaryLight);
	font-size: 26px;
	box-shadow: 0 var(--tableSpacing) 6px -6px var(--secondaryDark);
}

/*
.tableCols {
	width: 70px;
}

.infoCols {
	width: 35px;
}

#headName {
	width: max-content;
}
*/


.even-row {
	background: var(--primaryDark);
}

.non-starter {
	color: #ff8080;/*#bf0000;*/
}

.inLineup {
	cursor: pointer;
}


.player-row {
	cursor: pointer;
}



.name-td, .leftGlow {
	box-shadow: var(--tableSpacing) 0 6px -6px var(--secondaryDark);
}

.gamesPlayed-td, .rightGlow {
	box-shadow: var(--negTableSpacing) 0 6px -6px var(--secondaryDark);
}

.lineupButtons {
	width: 100px;
}

.clearSavedLineup, .editSavedLineup {
	display: inline-block;
	vertical-align: center;
	margin: 5px;
}

#clearLineup, .clearSavedLineup {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	background: red;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	width: min-content;
}

#clearLineup:hover, .clearSavedLineup:hover {
	background: #990000;
	box-shadow: 0px 0px 5px 5px red;
}

#clearLineup:active, .clearSavedLineup:active {
	background: #330000;
	box-shadow: 0px 0px 5px 5px #990000;
}

.whiteButton, .editSavedLineup {
	padding: 5px;
	margin: 0px auto 5px auto;
	border: 2px solid black;
	border-radius: 5px;
	background: white;
	color: black;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	width: min-content;
}

.whiteButton:hover, .editSavedLineup:hover {
	background: #cccccc;
	box-shadow: 0px 0px 5px 5px white;
}

.whiteButton:active, .editSavedLineup:active {
	background: #999999;
	box-shadow: 0px 0px 5px 5px #cccccc;
}

.unavailable {
	color: gray;
	cursor: default;
}


/* Input formatting */
.submit-btn, button {
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
	color: var(--text);
	background-color: #262626;
	border: 4px solid #e6e6e6;
}

#roleButtons {
	display: flex;
	padding: 10px;
}

.roleButton {
	margin: 0px 10px;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
}

.subButton {
	font-size: 12px;
	color: var(--gold);
	padding: 0px;
	margin: 0px;
}



.fire {
	animation: burn 1.5s linear infinite alternate;
}


@keyframes burn {
	from { text-shadow: -.1em 0 .3em #451b0e, .1em -.1em .3em #973716, -.2em -.2em .4em #cd4606, .2em -.3em .3em #ec760c, -.2em -.4em .4em #ffae34, .1em -.5em .7em #feec85, .1em -.7em .7em #fefcc9; }
	45%  { text-shadow: .1em -.2em .5em #451b0e, .15em 0 .4em #973716, -.1em -.25em .5em #cd4606, .15em -.45em .5em #ec760c, -.1em -.5em .6em #ffae34, 0 -.8em .6em #feec85, .2em -1em .8em #fefcc9; }
	70%  { text-shadow: -.1em 0 .3em #451b0e, .1em -.1em .3em #973716, -.2em -.2em .6em #cd4606, .2em -.3em .4em #ec760c, -.2em -.4em .7em #ffae34, .1em -.5em .7em #feec85, .1em -.7em .9em #fefcc9; }
	to   { text-shadow: -.1em -.2em .6em #451b0e, -.15em 0 .6em #973716, .1em -.25em .6em #cd4606, -.15em -.45em .5em #ec760c, .1em -.5em .6em #ffae34, 0 -.8em .6em #feec85, -.2em -1em .8em #fefcc9; }
}

.selectedFire {
	animation: selectedBurn 1.5s linear infinite alternate;
}


@keyframes selectedBurn {
	from { text-shadow: -.1em 0 .3em #34140a, .1em -.1em .3em #712910, -.2em -.2em .4em #9a3404, .2em -.3em .3em #b15809, -.2em -.4em .4em #bf8227, .1em -.5em .7em #beb164, .1em -.7em .7em #bebd97; }
	45%  { text-shadow: .1em -.2em .5em #34140a, .15em 0 .4em #712910, -.1em -.25em .5em #9a3404, .15em -.45em .5em #b15809, -.1em -.5em .6em #bf8227, 0 -.8em .6em #beb164, .2em -1em .8em #bebd97; }
	70%  { text-shadow: -.1em 0 .3em #34140a, .1em -.1em .3em #712910, -.2em -.2em .6em #9a3404, .2em -.3em .4em #b15809, -.2em -.4em .7em #bf8227, .1em -.5em .7em #beb164, .1em -.7em .9em #bebd97; }
	to   { text-shadow: -.1em -.2em .6em #34140a, -.15em 0 .6em #712910, .1em -.25em .6em #9a3404, -.15em -.45em .5em #b15809, .1em -.5em .6em #bf8227, 0 -.8em .6em #beb164, -.2em -1em .8em #bebd97; }
}

.selectedGoldShadow {
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) var(--gold) inset;
}

.goldShadow {
	box-shadow: 0px 0px var(--quarterTableSpacing) var(--quarterTableSpacing) var(--gold) inset;
}

.selectedRedShadow {
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) red inset;
}

.redShadow {
	box-shadow: 0px 0px var(--quarterTableSpacing) var(--quarterTableSpacing) red inset;
}



#Avalanche {
	background-color: #6F263D;
	color: #5ba1d7;
}
  
#Blackhawks {
	background-color: #CF0A2C;
	color: #ffda33;
}

#BlueJackets {
	background-color: #002654;
	color: #f04257;
}

#Blues {
	background-color: #002F87;
	color: #fcc136;
}

#Bruins {
	background-color: #000000;
	color: #ffbe33;
}

#Canadiens {
	background-color: #AF1E2D;
	color: #5b67d7;
}

#Canucks {
	background-color: #00205B;
	color: #33ff92;
}

#Capitals {
	background-color: #C8102E;
	color: #3e8af4;
}

#Coyotes {
	background-color: #8C2633;
	color: #c6ae6c;
}

#Devils {
	background-color: #000000;
	color: #f04257;
}

#Ducks {
	background-color: #F47A38;
	color: #ffffff;
}

#Flames {
	background-color: #D2001C;
	color: #ffbe33;
}

#Flyers {
	background-color: #fd6e35;
	color: #000000;
}

#GoldenKnights {
	background-color: #21292b;
	color: #c0a772;
}

#Hurricanes {
	background-color: #CE1126;
	color: #c9cccf;
}

#Islanders {
	background-color: #00539B;
	color: #f5873d;
}

#Jets {
	background-color: #041E42;
	color: #c66c7d;
}

#Kings {
	background-color: #111111;
	color: #939c9f;
}

#Kraken {
	background-color: #001628;
	color: #6ac8c8;
}

#Lightning {
	background-color: #002868;
	color: #ffffff;
}

#MapleLeafs {
	background-color: #00205B;
	color: #ffffff;
}

#Oilers {
	background-color: #041E42;
	color: #ff7033;
}

#Panthers {
	background-color: #C8102E;
	color: #c2a470;
}

#Penguins {
	background-color: #000000;
	color: #fcc136;
}

#Predators {
	background-color: #041E42;
	color: #ffbe33;
}

#Rangers {
	background-color: #0038A8;
	color: #f04257;
}

#RedWings {
	background-color: #CE1126;
	color: #ffffff;
}

#Sabres {
	background-color: #003087;
	color: #ffbe33;
}

#Senators {
	background-color: #DA1A32;
	color: #c2a370;
}

#Sharks {
	background-color: #006D75;
	color: #ff9633;
}

#Stars {
	background-color: #006847;
	color: #cdcdcb;
}

#Wild {
	background-color: #154734;
	color: #e44e64;
}



#playerTableDiv, #curLineupDiv, #allLineupsDiv {
	background-color: var(--primary);
	margin: var(--tableSpacing);
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) var(--secondaryDark);
}

#curLineupDiv {
	margin-left: var(--halfTableSpacing);
}

#allLineupsDiv {
	margin-top: var(--doubleTableSpacing);
	margin-left: var(--halfTableSpacing);
}

#curLineupTable, .allLineupsTable {
	border-color: var(--primaryLight);
	border-style: solid;
	border-left-width: var(--tableSpacing);
	border-right-width: var(--tableSpacing);
	border-bottom-width: var(--halfTableSpacing);
	text-align: center;
	width: 100%;
}

#curLineupCaption, #lineupName, .allLineupsCaption, .allLineupsCaptionTable th {
	color: var(--text);
	background: transparent;
	text-align: center;
	font-size: 36px;
	padding: 5px;
	border: 0px;
	font-weight: normal;
}

.allLineupsCaptionTable {
	width: 100%;
}


#curLineupThead, .allLineupsThead {
	background-color: var(--primaryLight);
}

#curLineupTbody, .allLineupsTbody {
	background-color: var(--primary);
}

#curLineupFinalRow td {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#curLineupTbody tr td {
	height: 17px;
}

#lineupName:hover {
	background-color: var(--primaryLight);
}





.lineupTh {
	width: 120px;
}



.tableEnd {
	background-color: var(--primaryLight);
}
  