:root {
	--gold: #ffcc33;
	--text: #ffffff;
	--primaryLight: #333333;	/* 20% */
	--primary: #262626;		/* 15% */
	--primaryDark: #1a1a1a;	/* 10% */
	--secondaryLight: #ffffff;
	--secondaryDark: #e6e6e6;
	--doubleTableSpacing: 40px;
	--tableSpacing: 20px;
	--negTableSpacing: -20px;
	--halfTableSpacing: 10px;
	--quarterTableSpacing: 5px;
	
}





/* Default set up */
body {
	background-image: linear-gradient(to left, gray, black);
	color: var(--text);
	font-family: Verdana
}






/*Scoreboard setup*/
#scoreboardLeftDiv {
	float: left;
	width: 48%;
	margin: var(--halfTableSpacing) 1% var(--halfTableSpacing) 1%;
}

#scoreboardRightDiv {
	float: right;
	width: 48%;
	margin: var(--halfTableSpacing) 1% var(--halfTableSpacing) 1%;
}

.noWrap {
    white-space: nowrap;
}





/* table team colors */
#leftDiv {
	float: left;
	width: 66%;
	color: var(--text);
}
#rightDiv {
	float: right;
	width: 33%;
}



#teamTitle {
	font-size: 48px;
	text-align: center;
	padding: 4px;
	margin: var(--tableSpacing);
	border: var(--tableSpacing) solid var(--primaryLight);
	background: var(--primaryDark);
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) var(--secondaryDark);
}

#teamDropdown {
	vertical-align: middle;
	text-align: center;
	font-size: 48px;
	color: var(--text);
	background: transparent;
	border-width: 0px;
	width: 100%;
	padding: 6px;
	cursor: pointer;
}

#teamDropdown option {
	font-size: 24px;
}

#teamDropdown:hover {
	background: var(--primary);
}



.plDropdown {
	vertical-align: middle;
	text-align: center;
	color: var(--text);
	background: transparent;
	border-width: 0px;
	width: 100%;
	padding: 0px;
	margin:0px;
	cursor: pointer;
}

.plDropdown:hover {
	background: var(--primaryLight);
}

table, th, td {
	border-collapse: collapse;
	padding: 5px;
	font-size: 12px;
}








#playerTable {
	border-color: var(--primaryLight);
	border-style: solid;
	border-left-width: var(--tableSpacing);
	border-right-width: var(--tableSpacing);
	border-bottom-width: var(--halfTableSpacing);
	text-align: center;
}

.statPoints {
	font-size: 11px;
	color: var(--secondaryLight);
	font-weight: normal;
	padding-top: 0px;
}

#statName {
	padding: 0px;
}

#player-thead {
	background-color: var(--primaryLight);
}

#playerTable th {
	min-width: 65px;
	white-space: nowrap;
}

.infoCols {
	width: 35px;
}

#headName {
	width: 100%;
}

.salary-th {
	width: 120px;
	color: var(--secondaryLight);
	font-size: 26px;
	box-shadow: 0 var(--tableSpacing) 6px -6px var(--secondaryDark);
}

/*
.tableCols {
	width: 70px;
}

.infoCols {
	width: 35px;
}

#headName {
	width: max-content;
}
*/


.even-row {
	background: var(--primaryDark);
}

.non-starter {
	color: #ff8080;/*#bf0000;*/
}

.inLineup {
	cursor: pointer;
}


.player-row {
	cursor: pointer;
}



.name-td, .leftGlow {
	box-shadow: var(--tableSpacing) 0 6px -6px var(--secondaryDark);
}

.gamesPlayed-td, .rightGlow {
	box-shadow: var(--negTableSpacing) 0 6px -6px var(--secondaryDark);
}

.lineupButtons {
	width: 100px;
}

.clearSavedLineup, .editSavedLineup {
	display: inline-block;
	vertical-align: center;
	margin: 5px;
}

#clearLineup, .clearSavedLineup {
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
	background: red;
	color: white;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	width: min-content;
}

#clearLineup:hover, .clearSavedLineup:hover {
	background: #990000;
	box-shadow: 0px 0px 5px 5px red;
}

#clearLineup:active, .clearSavedLineup:active {
	background: #330000;
	box-shadow: 0px 0px 5px 5px #990000;
}

.whiteButton, .editSavedLineup {
	padding: 5px;
	margin: 0px auto 5px auto;
	border: 2px solid black;
	border-radius: 5px;
	background: white;
	color: black;
	cursor: pointer;
	font-weight: bold;
	font-size: 12px;
	width: min-content;
}

.whiteButton:hover, .editSavedLineup:hover {
	background: #cccccc;
	box-shadow: 0px 0px 5px 5px white;
}

.whiteButton:active, .editSavedLineup:active {
	background: #999999;
	box-shadow: 0px 0px 5px 5px #cccccc;
}

.unavailable {
	color: gray;
	cursor: default;
}


/* Input formatting */
.submit-btn, button {
	display: block;
	margin: auto;
	padding: 5px;
	width: 100%;
	color: var(--text);
	background-color: #262626;
	border: 4px solid #e6e6e6;
}

#roleButtons {
	display: flex;
	padding: 10px;
}

.roleButton {
	margin: 0px 10px;
	padding: 15px;
	font-size: 24px;
	cursor: pointer;
}

.subButton {
	font-size: 12px;
	color: var(--gold);
	padding: 0px;
	margin: 0px;
}

.cold  {
	animation: coldBurn 1.5s linear infinite alternate;
}


@keyframes coldBurn {
	from { text-shadow: -.1em 0 .3em #004d66, .1em -.1em .3em #007399, -.2em -.2em .4em #0099cc, .2em -.3em .3em #00bfff, -.2em -.4em .4em #33ccff, .1em -.5em .7em #66d9ff, .1em -.7em .7em #99e6ff; }
	45%  { text-shadow: .1em -.2em .5em #004d66, .15em 0 .4em #007399, -.1em -.25em .5em #0099cc, .15em -.45em .5em #00bfff, -.1em -.5em .6em #33ccff, 0 -.8em .6em #66d9ff, .2em -1em .8em #99e6ff; }
	70%  { text-shadow: -.1em 0 .3em #004d66, .1em -.1em .3em #007399, -.2em -.2em .6em #0099cc, .2em -.3em .4em #00bfff, -.2em -.4em .7em #33ccff, .1em -.5em .7em #66d9ff, .1em -.7em .9em #99e6ff; }
	to   { text-shadow: -.1em -.2em .6em #004d66, -.15em 0 .6em #007399, .1em -.25em .6em #0099cc, -.15em -.45em .5em #00bfff, .1em -.5em .6em #33ccff, 0 -.8em .6em #66d9ff, -.2em -1em .8em #99e6ff; }
}

.fire, .hot  {
	animation: burn 1.5s linear infinite alternate;
}


@keyframes burn {
	from { text-shadow: -.1em 0 .3em #451b0e, .1em -.1em .3em #973716, -.2em -.2em .4em #cd4606, .2em -.3em .3em #ec760c, -.2em -.4em .4em #ffae34, .1em -.5em .7em #feec85, .1em -.7em .7em #fefcc9; }
	45%  { text-shadow: .1em -.2em .5em #451b0e, .15em 0 .4em #973716, -.1em -.25em .5em #cd4606, .15em -.45em .5em #ec760c, -.1em -.5em .6em #ffae34, 0 -.8em .6em #feec85, .2em -1em .8em #fefcc9; }
	70%  { text-shadow: -.1em 0 .3em #451b0e, .1em -.1em .3em #973716, -.2em -.2em .6em #cd4606, .2em -.3em .4em #ec760c, -.2em -.4em .7em #ffae34, .1em -.5em .7em #feec85, .1em -.7em .9em #fefcc9; }
	to   { text-shadow: -.1em -.2em .6em #451b0e, -.15em 0 .6em #973716, .1em -.25em .6em #cd4606, -.15em -.45em .5em #ec760c, .1em -.5em .6em #ffae34, 0 -.8em .6em #feec85, -.2em -1em .8em #fefcc9; }
}

.selectedFire{
	animation: selectedBurn 1.5s linear infinite alternate;
}


@keyframes selectedBurn {
	from { text-shadow: -.1em 0 .3em #34140a, .1em -.1em .3em #712910, -.2em -.2em .4em #9a3404, .2em -.3em .3em #b15809, -.2em -.4em .4em #bf8227, .1em -.5em .7em #beb164, .1em -.7em .7em #bebd97; }
	45%  { text-shadow: .1em -.2em .5em #34140a, .15em 0 .4em #712910, -.1em -.25em .5em #9a3404, .15em -.45em .5em #b15809, -.1em -.5em .6em #bf8227, 0 -.8em .6em #beb164, .2em -1em .8em #bebd97; }
	70%  { text-shadow: -.1em 0 .3em #34140a, .1em -.1em .3em #712910, -.2em -.2em .6em #9a3404, .2em -.3em .4em #b15809, -.2em -.4em .7em #bf8227, .1em -.5em .7em #beb164, .1em -.7em .9em #bebd97; }
	to   { text-shadow: -.1em -.2em .6em #34140a, -.15em 0 .6em #712910, .1em -.25em .6em #9a3404, -.15em -.45em .5em #b15809, .1em -.5em .6em #bf8227, 0 -.8em .6em #beb164, -.2em -1em .8em #bebd97; }
}

.selectedGoldShadow {
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) var(--gold) inset;
}

.goldShadow {
	box-shadow: 0px 0px var(--quarterTableSpacing) var(--quarterTableSpacing) var(--gold) inset;
}

.selectedRedShadow {
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) red inset;
}

.redShadow {
	box-shadow: 0px 0px var(--quarterTableSpacing) var(--quarterTableSpacing) red inset;
}



#Avalanche {
	background-color: #6F263D;
	color: #5ba1d7;
}
  
#Blackhawks {
	background-color: #CF0A2C;
	color: #ffda33;
}

#BlueJackets {
	background-color: #002654;
	color: #f04257;
}

#Blues {
	background-color: #002F87;
	color: #fcc136;
}

#Bruins {
	background-color: #000000;
	color: #ffbe33;
}

#Canadiens {
	background-color: #AF1E2D;
	color: #5b67d7;
}

#Canucks {
	background-color: #00205B;
	color: #33ff92;
}

#Capitals {
	background-color: #C8102E;
	color: #3e8af4;
}

#Coyotes {
	background-color: #8C2633;
	color: #c6ae6c;
}

#Devils {
	background-color: #000000;
	color: #f04257;
}

#Ducks {
	background-color: #F47A38;
	color: #ffffff;
}

#Flames {
	background-color: #D2001C;
	color: #ffbe33;
}

#Flyers {
	background-color: #fd6e35;
	color: #000000;
}

#GoldenKnights {
	background-color: #21292b;
	color: #c0a772;
}

#Hurricanes {
	background-color: #CE1126;
	color: #c9cccf;
}

#Islanders {
	background-color: #00539B;
	color: #f5873d;
}

#Jets {
	background-color: #041E42;
	color: #c66c7d;
}

#Kings {
	background-color: #111111;
	color: #939c9f;
}

#Kraken {
	background-color: #001628;
	color: #6ac8c8;
}

#Lightning {
	background-color: #002868;
	color: #ffffff;
}

#MapleLeafs {
	background-color: #00205B;
	color: #ffffff;
}

#Oilers {
	background-color: #041E42;
	color: #ff7033;
}

#Panthers {
	background-color: #C8102E;
	color: #c2a470;
}

#Penguins {
	background-color: #000000;
	color: #fcc136;
}

#Predators {
	background-color: #041E42;
	color: #ffbe33;
}

#Rangers {
	background-color: #0038A8;
	color: #f04257;
}

#RedWings {
	background-color: #CE1126;
	color: #ffffff;
}

#Sabres {
	background-color: #003087;
	color: #ffbe33;
}

#Senators {
	background-color: #DA1A32;
	color: #c2a370;
}

#Sharks {
	background-color: #006D75;
	color: #ff9633;
}

#Stars {
	background-color: #006847;
	color: #cdcdcb;
}

#Wild {
	background-color: #154734;
	color: #e44e64;
}



#playerTableDiv, #curLineupDiv {
	background-color: var(--primary);
	margin: var(--tableSpacing);
	box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) var(--secondaryDark);
}

#curLineupDiv {
	margin-left: var(--halfTableSpacing);
}

#allLineupsDiv {
	margin: var(--tableSpacing);
	margin-top: var(--doubleTableSpacing);
	margin-left: var(--halfTableSpacing);
}

#curLineupTable, .allLineupsTable {
	border-style: solid;
	border-left-width: var(--tableSpacing);
	border-right-width: var(--tableSpacing);
	border-bottom-width: var(--halfTableSpacing);
	text-align: center;
	width: 100%;
}

#curLineupTable {
	border-color: var(--primaryLight);
}

#curLineupCaption, #lineupName, .allLineupsCaption, .allLineupsCaptionTable th {
	color: var(--text);
	background: transparent;
	text-align: center;
	font-size: 36px;
	padding: 5px;
	border: 0px;
	font-weight: normal;
}

.allLineupsCaption {
	padding: 0px;
}


.allLineupsCaptionTable {
	margin: 0px;
	padding-top: 0px;
	width: 100%;
}


#curLineupThead {
	background-color: var(--primaryLight);
}

#curLineupTbody {
	background-color: var(--primary);
}

#curLineupFinalRow td {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#curLineupTbody tr td {
	height: 17px;
}

#lineupName:hover {
	background-color: var(--primaryLight);
}


.lineupTh {
	width: 120px;
}



.tableEnd {
	background-color: var(--primaryLight);
}

.allLineupsTable {
	margin: var(--tableSpacing) 0px var(--tableSpacing);
}




.AvalancheLightBorder {border-color: #4c1a2a;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #286ea4;}
.AvalancheLight {background-color: #4c1a2a;}
.AvalanchePrimary {background-color: #39141f;}
.AvalancheDark {background-color: #260d15;}
.AvalancheLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #286ea4;}
.AvalancheRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #286ea4;}

.BlackhawksLightBorder {border-color: #610514;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cca700;}
.BlackhawksLight {background-color: #610514;}
.BlackhawksPrimary {background-color: #49030f;}
.BlackhawksDark {background-color: #31020a;}
.BlackhawksLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cca700;}
.BlackhawksRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cca700;}

.BlueJacketsLightBorder {border-color: #002e66;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #bd0f24;}
.BlueJacketsLight {background-color: #002e66;}
.BlueJacketsPrimary {background-color: #00224d;}
.BlueJacketsDark {background-color: #001733;}
.BlueJacketsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #bd0f24;}
.BlueJacketsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #bd0f24;}

.BluesLightBorder {border-color: #002466;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #c98e03;}
.BluesLight {background-color: #002466;}
.BluesPrimary {background-color: #001b4d;}
.BluesDark {background-color: #001233;}
.BluesLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #c98e03;}
.BluesRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #c98e03;}

.BruinsLightBorder {border-color: #333333;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cc8b00;}
.BruinsLight {background-color: #333333;}
.BruinsPrimary {background-color: #262626;}
.BruinsDark {background-color: #1a1a1a;}
.BruinsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cc8b00;}
.BruinsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cc8b00;}

.CanadiensLightBorder {border-color: #570f16;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #2834a4;}
.CanadiensLight {background-color: #570f16;}
.CanadiensPrimary {background-color: #410b11;}
.CanadiensDark {background-color: #2c070b;}
.CanadiensLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #2834a4;}
.CanadiensRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #2834a4;}

.CanucksLightBorder {border-color: #002466;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #00cc5f;}
.CanucksLight {background-color: #002466;}
.CanucksPrimary {background-color: #001b4d;}
.CanucksDark {background-color: #001233;}
.CanucksLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #00cc5f;}
.CanucksRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #00cc5f;}

.CapitalsLightBorder {border-color: #5e0816;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #267bf2;}
.CapitalsLight {background-color: #5e0816;}
.CapitalsPrimary {background-color: #470611;}
.CapitalsDark {background-color: #2f040b;}
.CapitalsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #267bf2;}
.CapitalsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #267bf2;}

.CoyotesLightBorder {border-color: #50161e;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #937b39;}
.CoyotesLight {background-color: #50161e;}
.CoyotesPrimary {background-color: #3c1016;}
.CoyotesDark {background-color: #280b0f;}
.CoyotesLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #937b39;}
.CoyotesRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #937b39;}

.DevilsLightBorder {border-color: #333333;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #bd0f24;}
.DevilsLight {background-color: #333333;}
.DevilsPrimary {background-color: #262626;}
.DevilsDark {background-color: #1a1a1a;}
.DevilsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #bd0f24;}
.DevilsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #bd0f24;}

.DucksLightBorder {border-color: #612505;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #8f713d;}
.DucksLight {background-color: #612505;}
.DucksPrimary {background-color: #491c04;}
.DucksDark {background-color: #301303;}
.DucksLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #8f713d;}
.DucksRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #8f713d;}

.FlamesLightBorder {border-color: #66000e;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cc8b00;}
.FlamesLight {background-color: #66000e;}
.FlamesPrimary {background-color: #4d000a;}
.FlamesDark {background-color: #330007;}
.FlamesLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cc8b00;}
.FlamesRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cc8b00;}

.FlyersLightBorder {border-color: #333333;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #ca3b02;}
.FlyersLight {background-color: #333333;}
.FlyersPrimary {background-color: #262626;}
.FlyersDark {background-color: #1a1a1a;}
.FlyersLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #ca3b02;}
.FlyersRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #ca3b02;}

.GoldenKnightsLightBorder {border-color: #2c373a;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #8d743f;}
.GoldenKnightsLight {background-color: #2c373a;}
.GoldenKnightsPrimary {background-color: #21292b;}
.GoldenKnightsDark {background-color: #161b1d;}
.GoldenKnightsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #8d743f;}
.GoldenKnightsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #8d743f;}

.HurricanesLightBorder {border-color: #5e0812;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #61676b;}
.HurricanesLight {background-color: #5e0812;}
.HurricanesPrimary {background-color: #47060d;}
.HurricanesDark {background-color: #2f0409;}
.HurricanesLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #61676b;}
.HurricanesRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #61676b;}

.IslandersLightBorder {border-color: #003666;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #c2540a;}
.IslandersLight {background-color: #003666;}
.IslandersPrimary {background-color: #00294d;}
.IslandersDark {background-color: #001b33;}
.IslandersLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #c2540a;}
.IslandersRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #c2540a;}

.JetsLightBorder {border-color: #062b60;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #93394a;}
.JetsLight {background-color: #062b60;}
.JetsPrimary {background-color: #042148;}
.JetsDark {background-color: #031630;}
.JetsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #93394a;}
.JetsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #93394a;}

.KingsLightBorder {border-color: #333333;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #aeb5b7;}
.KingsLight {background-color: #333333;}
.KingsPrimary {background-color: #262626;}
.KingsDark {background-color: #1a1a1a;}
.KingsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #aeb5b7;}
.KingsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #aeb5b7;}

.KrakenLightBorder {border-color: #003866;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #379595;}
.KrakenLight {background-color: #003866;}
.KrakenPrimary {background-color: #002a4d;}
.KrakenDark {background-color: #001c33;}
.KrakenLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #379595;}
.KrakenRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #379595;}

.LightningLightBorder {border-color: #002868;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #999999;}
.LightningLight {background-color: #002868;}
.LightningPrimary {background-color: #001d4d;}
.LightningDark {background-color: #001433;}
.LightningLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #999999;}
.LightningRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #999999;}

.MapleLeafsLightBorder {border-color: #002466;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #999999;}
.MapleLeafsLight {background-color: #002466;}
.MapleLeafsPrimary {background-color: #001b4d;}
.MapleLeafsDark {background-color: #001233;}
.MapleLeafsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #999999;}
.MapleLeafsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #999999;}

.OilersLightBorder {border-color: #062b60;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cc3d00;}
.OilersLight {background-color: #062b60;}
.OilersPrimary {background-color: #042148;}
.OilersDark {background-color: #031630;}
.OilersLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cc3d00;}
.OilersRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cc3d00;}

.PanthersLightBorder {border-color: #5e0816;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #8f713d;}
.PanthersLight {background-color: #5e0816;}
.PanthersPrimary {background-color: #470611;}
.PanthersDark {background-color: #2f040b;}
.PanthersLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #8f713d;}
.PanthersRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #8f713d;}

.PenguinsLightBorder {border-color: #333333;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #c98e03;}
.PenguinsLight {background-color: #333333;}
.PenguinsPrimary {background-color: #262626;}
.PenguinsDark {background-color: #1a1a1a;}
.PenguinsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #c98e03;}
.PenguinsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #c98e03;}

.PredatorsLightBorder {border-color: #062b60;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cc8b00;}
.PredatorsLight {background-color: #062b60;}
.PredatorsPrimary {background-color: #042148;}
.PredatorsDark {background-color: #031630;}
.PredatorsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cc8b00;}
.PredatorsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cc8b00;}

.RangersLightBorder {border-color: #002266;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #bd0f24;}
.RangersLight {background-color: #002266;}
.RangersPrimary {background-color: #001a4d;}
.RangersDark {background-color: #001133;}
.RangersLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #bd0f24;}
.RangersRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #bd0f24;}

.RedWingsLightBorder {border-color: #5e0812;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #999999;}
.RedWingsLight {background-color: #5e0812;}
.RedWingsPrimary {background-color: #47060d;}
.RedWingsDark {background-color: #2f0409;}
.RedWingsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #999999;}
.RedWingsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #999999;}

.SabresLightBorder {border-color: #002466;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cc8b00;}
.SabresLight {background-color: #002466;}
.SabresPrimary {background-color: #001b4d;}
.SabresDark {background-color: #001233;}
.SabresLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cc8b00;}
.SabresRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cc8b00;}

.SenatorsLightBorder {border-color: #5b0b14;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #8f703d;}
.SenatorsLight {background-color: #5b0b14;}
.SenatorsPrimary {background-color: #44080f;}
.SenatorsDark {background-color: #2e050a;}
.SenatorsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #8f703d;}
.SenatorsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #8f703d;}

.SharksLightBorder {border-color: #005f66;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #cc6300;}
.SharksLight {background-color: #005f66;}
.SharksPrimary {background-color: #00474d;}
.SharksDark {background-color: #003033;}
.SharksLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #cc6300;}
.SharksRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #cc6300;}

.StarsLightBorder {border-color: #006847;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #676765;}
.StarsLight {background-color: #006847;}
.StarsPrimary {background-color: #004d34;}
.StarsDark {background-color: #003323;}
.StarsLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #676765;}
.StarsRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #676765;}

.WildLightBorder {border-color: #174f39;box-shadow: 0px 0px var(--halfTableSpacing) var(--halfTableSpacing) #b11b31;}
.WildLight {background-color: #174f39;}
.WildPrimary {background-color: #123b2b;}
.WildDark {background-color: #0c271d;}
.WildLeftGlow {box-shadow: var(--tableSpacing) 0 6px -6px #b11b31;}
.WildRightGlow {box-shadow: var(--negTableSpacing) 0 6px -6px #b11b31;}